.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand svg {
  width: 28px;
  height: 28px;
  margin-right: .5rem;
}

.navbar-brand svg path, .navbar-brand svg rect {
  fill: #fff;
}

.navbar-shrink .navbar-brand svg path, .navbar-shrink .navbar-brand svg rect {
  fill: #000;
}