#contact {
  position: relative;
}

.contacts {
  text-align: center;

  a {
    margin: 0 10px;
    font-size: 200%;
    color: #fff;
  }
}

.avatar {
  max-width: 130px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -280px;
}
