.portfolio-row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.portfolio-item {
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .portfolio-description {
    padding-top: 20px;
    text-align: center;
  }
}
