.skills {
  padding: 0;

  li {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    line-height: 32px;
    display: inline;
    border-radius: 4px;
    font-size: 12px;
    background: $primary;
    padding: 4px 9px;
  }
}
